In [15]:
#Single Line comment
# datatype in pytgon programming
'''
1. Int 
2. Float 
3. Complex 
4. String 
5. Boolean 
6. list 
7. tuple 
8. set 
9. dict 
10. class : Custom Datatype
'''
number = 100
number1 = 23.456 
number2 = 2 + 3j


print(type(number))
print(type(number1))
print(type(number2))

# variable Desfination

x=10 #single variable assigment
x,y = 1000,2000
x,y,z,_ = 1,2,3,4  #multiple variable assignment
_,a,b,c = 10,20,30,40

num=100

num1 = 2

num2 = num * num1
print(num2)

<class 'int'>
<class 'float'>
<class 'complex'>
200

In [16]:
Integer_number =100
#Rules for variable defination
'''
1. Special character are not allowed at the prefix of variable.
example: 123num : not allowed X
2. the variable defination should contain any special character or space.
example: Primary Number : not allowed X


'''

'\n1. Special character are not allowed at the prefix of variable.\nexample: 123num : not allowed X\n2. the variable defination should contain any special character or space.\nexample: Primary Number : not allowed X\n\n\n'

In [17]:
# print Function

print('heyy')
print(100+200)

heyy
300

In [18]:
# example: simple calculator

'''
logic:
step1: ask user to enter the two values
step2: perform mathematical operation
step3: print the output

'''
num1 = float(input('enter the first value:'))     # type casted to float
num2 = float(input('enter the second value:'))     # type casted to float

num3= num1 + num2

print('The Output of Two Mathematical Number Operation',num3)
print(f'The Output of Two Mathematical Number Operation {num3}')
print(f'The Output of Two Mathematical Number Operation {num3}'.format(num3))

The Output of Two Mathematical Number Operation 254.0
The Output of Two Mathematical Number Operation 254.0
The Output of Two Mathematical Number Operation 254.0

In [19]:
#concept of indexing and slicing

str = 'Hello Welcome to the World of Python Programming.'

str[3]

'''
note: 
string indexing : string[start:stop:step]

'''
print(str[1:10:1])

ello Welc

In [20]:
str= 'India IS A Great Country'
print(str[3:-2:2])

i SAGetCut

In [21]:
str = 'America Nice'
print (str[-1:-9:-1])
print (str[-9:-1: ])

eciN aci
rica Nic

In [22]:
# IF STATEMENT

if True:
    print('I am True')
    
if False:
    print('I am False')

I am True

In [23]:
'''
Logic:

if <condition>:
    print("output1")
else:
    print("output2")
        
'''

num =100
if  num > 100:
    ]print("")

SyntaxError: unmatched ']' (1814089470.py, line 13)

In [ ]:
number = float(input("Enter the Number between 1 to 3"))

if number == 1:
    print("The number is 1")

if number == 2:
    print("The number is 2")
    
if number == 3:
    print("The numbv=er is 3")

The number is 2

In [ ]:
number = float(input())

if number > 2:
    print("The Enter number is higher value")
if number < 2:
    print("The number is lower value")
else: 
    print("The number is 2")

The Enter number is higher value
The number is 2

In [ ]:
#Example: To check whether the given string is palindrom or not 

''' 
Logic:

Step1: Ask user to enter string
Step2: Reverse the string 
Step3: Use if else logic to print the output  
'''

text1 = input("Enter the string")
text2 = text1[::-1]

if text1 == text2:     #This is comparison operator
    print("The given string is plaindrom")
else:
    print("Not a palindrom")

The given string is plaindrom

In [ ]:
#example: Write  a program to print Volume of Cylinder
'''
volume = area*height
step1: ask a user to enter the diameter of cylinder
step2: ask user to enter the height of the cylinder
step3: volume = area * height 
step4: print the desired output 

'''
PI = 3.1421
Diameter = float(input("enter the diameter of cylinder:"))
Height = float(input("enter the height of cylinder:"))

volume =(PI/4)* (Diameter**2) * Height
print(f'the volume of Cylinder is{volume}mm^3')

the volume of Cylinder is9426.300000000001mm^3

In [ ]:
#EXAMPLE:
'''
step1: ask user to enter the marks
step2:logic:
         marks >90: excellent
         90<marks>60 :bright
         marks less than 60: moderate
step3: print the output         
'''
marks=float(input("enter the marks"))

if marks>=90:
    print('excellent')
elif marks <90 and marks >60:
    print("bright")
else:
    print("average")

bright

In [ ]:
# for loop
#range (start,stop,step)
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10):
    print(i,end =' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(5):
  print('*'*i)

*
**
***
****

In [ ]:
for i in range (0,10):
    print(i)
    if i==6:
        break

0
1
2
3
4
5
6

In [ ]:
for i in range (0,10):
    print(i)
    if i==6:
        continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (0,10):
    print(i)
    if i==6:
        continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
# define function : test

def test():   #Defining a function : test
    pass

test()    #calling a function: test

In [25]:
# example:
# palindromefunction definition
def palindrome():

    text1 = input('enter the string:')
    text2 =text1[::-1]

    if text1 == text2:
        print("the given string is a palindrome")
    else:
        print("the given is not a palindrome")
        
    
palindrome()   #function calling

the given string is a palindrome

In [28]:
#example

def compute(num1,num2):
    num3 =num1+num2
    return num3

ans = compute(100,200)
 
print(f'the answer is {ans}')

the answer is 300