In [15]:
#Single Line comment
# datatype in pytgon programming
'''
1. Int 
2. Float 
3. Complex 
4. String 
5. Boolean 
6. list 
7. tuple 
8. set 
9. dict 
10. class : Custom Datatype
'''
number = 100
number1 = 23.456 
number2 = 2 + 3j


print(type(number))
print(type(number1))
print(type(number2))

# variable Desfination

x=10 #single variable assigment
x,y = 1000,2000
x,y,z,_ = 1,2,3,4  #multiple variable assignment
_,a,b,c = 10,20,30,40

num=100

num1 = 2

num2 = num * num1
print(num2)

<class 'int'>
<class 'float'>
<class 'complex'>
200

In [16]:
Integer_number =100
#Rules for variable defination
'''
1. Special character are not allowed at the prefix of variable.
example: 123num : not allowed X
2. the variable defination should contain any special character or space.
example: Primary Number : not allowed X


'''

'\n1. Special character are not allowed at the prefix of variable.\nexample: 123num : not allowed X\n2. the variable defination should contain any special character or space.\nexample: Primary Number : not allowed X\n\n\n'

In [17]:
# print Function

print('heyy')
print(100+200)

heyy
300

In [18]:
# example: simple calculator

'''
logic:
step1: ask user to enter the two values
step2: perform mathematical operation
step3: print the output

'''
num1 = float(input('enter the first value:'))     # type casted to float
num2 = float(input('enter the second value:'))     # type casted to float

num3= num1 + num2

print('The Output of Two Mathematical Number Operation',num3)
print(f'The Output of Two Mathematical Number Operation {num3}')
print(f'The Output of Two Mathematical Number Operation {num3}'.format(num3))

The Output of Two Mathematical Number Operation 254.0
The Output of Two Mathematical Number Operation 254.0
The Output of Two Mathematical Number Operation 254.0

In [19]:
#concept of indexing and slicing

str = 'Hello Welcome to the World of Python Programming.'

str[3]

'''
note: 
string indexing : string[start:stop:step]

'''
print(str[1:10:1])

ello Welc

In [20]:
str= 'India IS A Great Country'
print(str[3:-2:2])

i SAGetCut

In [21]:
str = 'America Nice'
print (str[-1:-9:-1])
print (str[-9:-1: ])

eciN aci
rica Nic

In [22]:
# IF STATEMENT

if True:
    print('I am True')
    
if False:
    print('I am False')

I am True

In [23]:
'''
Logic:

if <condition>:
    print("output1")
else:
    print("output2")
        
'''

num =100
if  num > 100:
    ]print("")

SyntaxError: unmatched ']' (1814089470.py, line 13)

In [ ]:
number = float(input("Enter the Number between 1 to 3"))

if number == 1:
    print("The number is 1")

if number == 2:
    print("The number is 2")
    
if number == 3:
    print("The numbv=er is 3")

The number is 2

In [ ]:
number = float(input())

if number > 2:
    print("The Enter number is higher value")
if number < 2:
    print("The number is lower value")
else: 
    print("The number is 2")

The Enter number is higher value
The number is 2

In [ ]:
#Example: To check whether the given string is palindrom or not 

''' 
Logic:

Step1: Ask user to enter string
Step2: Reverse the string 
Step3: Use if else logic to print the output  
'''

text1 = input("Enter the string")
text2 = text1[::-1]

if text1 == text2:     #This is comparison operator
    print("The given string is plaindrom")
else:
    print("Not a palindrom")

The given string is plaindrom

In [ ]:
#example: Write  a program to print Volume of Cylinder
'''
volume = area*height
step1: ask a user to enter the diameter of cylinder
step2: ask user to enter the height of the cylinder
step3: volume = area * height 
step4: print the desired output 

'''
PI = 3.1421
Diameter = float(input("enter the diameter of cylinder:"))
Height = float(input("enter the height of cylinder:"))

volume =(PI/4)* (Diameter**2) * Height
print(f'the volume of Cylinder is{volume}mm^3')

the volume of Cylinder is9426.300000000001mm^3

In [ ]:
#EXAMPLE:
'''
step1: ask user to enter the marks
step2:logic:
         marks >90: excellent
         90<marks>60 :bright
         marks less than 60: moderate
step3: print the output         
'''
marks=float(input("enter the marks"))

if marks>=90:
    print('excellent')
elif marks <90 and marks >60:
    print("bright")
else:
    print("average")

bright

In [ ]:
# for loop
#range (start,stop,step)
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10):
    print(i,end =' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(5):
  print('*'*i)

*
**
***
****

In [ ]:
for i in range (0,10):
    print(i)
    if i==6:
        break

0
1
2
3
4
5
6

In [ ]:
for i in range (0,10):
    print(i)
    if i==6:
        continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (0,10):
    print(i)
    if i==6:
        continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
# define function : test

def test():   #Defining a function : test
    pass

test()    #calling a function: test

In [25]:
# example:
# palindromefunction definition
def palindrome():

    text1 = input('enter the string:')
    text2 =text1[::-1]

    if text1 == text2:
        print("the given string is a palindrome")
    else:
        print("the given is not a palindrome")
        
    
palindrome()   #function calling

the given string is a palindrome

In [ ]:
#example

def compute(num1,num2):
    num3 =num1+num2
    return num3

ans = compute(100,200)
 
print(f'the answer is {ans}')

the answer is 300

:

In [ ]:
# data structure of python programming
'''
1. list
2. tuple
3. dictonary
4. sets
'''

#list

a = [1,2,3,100.2000,3.1421,3+4j,'hello world',True,[1,2,3]]
a.append(100)
print(a)
a.insert(0,0)
print(a)

[1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3], 100]
[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3], 100]

In [3]:
a.pop()
print(a)

[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3]]

In [4]:
a.remove(0)
print(a)

[1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3]]

In [ ]:
'''
any function defined in a class called as method
example: in a list a= [100,200,300]
a.append(400)
here, append() is function, but this function is defined inside a class list so it is called method
'''

print(a.count(1))
print(type(a))

2
<class 'list'>

In [6]:
lst=[1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [7]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [8]:
lst=[100,200,[3000],400]
print(lst[2][0])

3000

In [9]:
lst= [1,[2,3,4,5,[6,7,[10,[1000],110,],200,300],10],1]
print(lst[1][3])
print(lst[1][4][2][1][0])

5
1000

In [10]:
print(lst[-2][-2][-1])
print(lst[1][4][4])

300
300

In [23]:
lst=[100,200,300,[1,2,[3,4,5,[6],[7],[8,[9],1],1],1],1]
print(lst[3][2][5][0])

# 4,5,[6],[7]
print(lst[3][2][1:5])
print(lst[-2][-2][-2][-3])

8
[4, 5, [6], [7]]
8

In [24]:
# tuple

b= (100,200,3.1421,True,False,'hello world',(1,2,3,4))
b.count(100)

1

In [25]:
b.index(200)

1

In [ ]:
# example
lst=[10,21,30,41,51]
for i in lst:
    if i%2 == 0:
        print(f'number is even{i}')
    else:
        print(f'the odd number is{i}')

number is even10
the odd number is21
number is even30
the odd number is41
the odd number is51

In [30]:
# example
lst=[10,21,30,41,51]
even=[]
odd=[]

for i in lst:
    if i%2 == 0:
        even.append(i)
        
    else:
        odd.append(i)
print('even numbers',even)
print('odd numbers',odd)

even numbers [10, 30]
odd numbers [21, 41, 51]

In [2]:
tup= (1,2,3,[4,5,6,7],[10,20,(30,40,(50,60,(70)))])

print(tup[4][2][2][0:2])

(50, 60)

In [3]:
# example

tup =(10,20,30,40)

#typecast
tup =list(tup)

print(type(tup))

tup.append(50)

print(tup)

<class 'list'>
[10, 20, 30, 40, 50]

In [4]:
# dictionary

# dict ={'key1: value}

d={'1':10}   #1 : key and 10 : value
print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [5]:
d = {'India':1000,'USA':2000,'UK':3000}
print(d['India'])

1000

In [6]:
d = {'India':[1000,2000,3000,4000],'USA':2000,'UK':3000}
print(d['India'][1])

2000

In [8]:
d = {'India':[1,2,3,[4,[5]]], 'USA':[100,200,300]}
print(d['India'][3][1][0])

5

In [9]:
# example: type cast 'd' to dictionary
d=[('USA',1000),('India',2000)]
d=dict(d)
d

{'USA': 1000, 'India': 2000}

In [10]:
d['UK'] = 3000

In [11]:
del d['UK']    #del is a keyword used for deleting the entry

In [12]:
d

{'USA': 1000, 'India': 2000}

In [ ]:
# set

d={1,2,3,4}
print(type(d))

d={10,10,20,30,40}
print(d)

<class 'set'>
{40, 10, 20, 30}

In [15]:
# string

str ='Hello Welcome to the Python Programming'

print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.isalnum())
print(str.isalpha())
print(str.islower())

HELLO WELCOME TO THE PYTHON PROGRAMMING
hello welcome to the python programming
Hello welcome to the python programming
False
False
False

In [16]:
# example
str =['hello','World', 'of','python','programming']

bucket1= []
bucket2= []

for i in str:
    if len(i) > 4:
        bucket1.append(i)
    else:
        bucket2.append(i)
        
print('Bucket1:',bucket1)
print('Bucket2:',bucket2)

Bucket1: ['hello', 'World', 'python', 'programming']
Bucket2: ['of']

In [17]:
# # Multiplication table of 2 (only numbers)
#output 2 4  6 8

num = 2
for i in range(1, 11):
    print(num * i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
num=[]
def sqaure():

    for i in range(1,21):
        if i%2 ==0:
            num.append(i)
    
    return num
num = sqaure()
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

:

In [ ]:
# function definiation: UDF (user defined function)

# 1.  user defined function (udf) without parameters

def add():
    num1 =100   #parameter1
    num2 =200   #parameter2
    
    return num1+num2   #return an expression

print(add())    #function calling

300

In [3]:
# 2. User defined function (udf) with paramters

def add(num1,num2): # functiom definition with parameters
    num3= num1+num2  #expression
    return num3  #return expression value

ans= add(100,200) #function calling  
print(ans)

300

In [7]:
# 3. user defined function (udf) with parametrs

def add(num1,num2):
    num3 = num1 + num2
    print('The asnwer is:',num3)

add(100,200)

The asnwer is: 300

In [10]:
# write a calculator program using concept of udf

number1 = float(input("enter the first number: "))
number2 = float(input("enter the second number: "))
choice = input("enter the choice: 1/2/3/4")

def add(number1,number2):
    number3 =number1+ number2
    return number3

def sub(number1,number2):
    number3 =number1 -number2
    return number3

def mul(number1,number2):
    number3 =number1 * number2
    return number3

if choice == '1':
    ans = add(number1,number2)
    print(f'The addition of two number{number1} and {number2} is {ans}')

elif choice =='2':
    ans = sub(number1,number2)
    print(f'The subtraction of two number{number1} and {number2} is {ans}')

elif choice =='3':
    ans = mul(number1,number2)
    print(f'The multiplication of two number{number1} and {number2} is {ans}')

The addition of two number2.0 and 2.0 is 4.0

In [ ]:
# lst = [2 4 6 8 10] even
# sum = 30

def compute():
    lst =[]
    sum =0

    for i in range(1,11):
        if i%2 == 0:
            lst.append(i)
            sum = sum + i
    return sum,lst

sum,lst = compute()
print(sum)
print(lst)

30
[2, 4, 6, 8, 10]

In [16]:
# lst = [2 4 6 8 10] odd
# sum = 30

def compute():
    lst =[]
    sum =0

    for i in range(1,11):
        if i%2 != 0:
            lst.append(i)
            sum = sum + i
    return sum,lst

sum,lst = compute()
print(sum)
print(lst)

25
[1, 3, 5, 7, 9]

In [20]:
num = 100  #variable definition
def test(): #fuction definition
    global num  #global variable defination
    num = 3000  #local variable defination
print(num)

test()  #function calling

100

In [1]:
#Fibbonacci series: 0 1 1 2 3 5 8 13...... 
#factorial series: 4! = 4*3*2*1 = 24

def factorial(n):
    
    if n==0 or n==1:
        return 1
    else:
        return n* factorial(n-1)
   
number=float(input("Enter the number"))
factorial(number)

24.0

In [ ]:
a, b = 0, 1

while True:
    print(a, end=" ")
    a, b = b, a + b
    if a > 50:   # stop when Fibonacci number goes above 50
        break

0 1 1 2 3 5 8 13 21 34

In [5]:
def fibonnaci(nth):
    a, b = 0, 1
    for i in range(nth):   # prints first 10 numbers
        print(a, end=" ")
        a, b = b, a + b

num = int(input("Enter the Nth number for fibonnacci series :"))  
fibonnaci(num)

0 1 1 2 3 5 8 13 21 34 55 89

In [4]:
n = int(input("Enter number of terms: "))

a, b = 0, 1
for i in range(n):
    if i == 0:
        print(a, end=" ")
    elif i == 1:
        print(b, end=" ")
    else:
        c = a + b
        print(c, end=" ")
        a, b = b, c

0 1 1 2 3 5 8 13 21 34 55 89

In [2]:
class employee:
    pass


emp1 = employee()  #object defination
emp2 = employee()  #object definition

In [3]:
print(type(emp1))

<class '__main__.employee'>

In [5]:
class Employee:
    
    #define attributes
    Company_Name = "It Vedant"
    Company_Est = "1990"
    
    #define construtor
    def __init__ (self,Name,Age,Position):
        self.Name = Name 
        self.Age = Age 
        self.Position = Position 
        
emp1 = Employee("Gaurav",25,"IT")  #object deffinition 
emp2 = Employee("Sangam",30,"Finance")  #object definition 

print(emp1.Company_Name)  #Calling attribute Company_Name by an object emp1 by using .Operator 
print(emp2.Company_Est)
print(emp1.Name)
print(emp2.Position)

It Vedant
1990
Gaurav
Finance

In [11]:
class Employee:   #class definition
    # define  Attributes : #class variable
    Company_Name = "It Vedant"
    Company_Est = "1900"
    
    #define instance method : with instance variable
    def __init__(self,Name,Age,Position):
            self.Name = Name 
            self.Age = Age 
            self.Position = Position 
    # define class method :with class variable
    def details(self):
        print(f'name : {self.Name}')
    def age1(self):
        print(f'Age : {self.Age}')
        
#create two objects: emplyee and manager
employee = Employee("sakshi",25,"manager")
manager = Employee("pragya",29,"It")

employee.details()
manager.details()
employee.age1()

name : sakshi
name : pragya
Age : 25

In [7]:
class Employee: # parent class
    # define Special Function: constructor
    def __init__(self,name,age,position):
        #define Instance Variables
        self.name = name
        self.age = age
        self.position = position
        
    #Define Class Method : DEtails
    def details(self):
        print(f'name: {self.name}')
    
class Manager(Employee):  #child class
        
        #Define Special Function :constructor
        def __init__(self,name,age,position,department):
            super().__init__(name,age,position)   #calling instance and method using super()
            self.department = department
            
            #define class method : Department details
        def department_details(self):
            print(f'name:{self.name}')
            print(f'department:{self.department}')
        
    #define objects:
    
m1 = Employee("Vishal",29,"HR")
m2 = Manager("pragya","26","senior team lead","HR")

In [9]:
print(m1.name)
print(m1.details())
print(m2.name)

Vishal
name: Vishal
None
pragya

In [14]:
class car:  #parent class
    
    # define constructor
    def __init__(self,enginetype,color,wheels):
        self.wheels = wheels
        self.colour = color
        self.enginetype = enginetype
        
    #class function : method
    def mileage(self):
        self.mileage = 30
        print(self.mileage)
        
        


class PetrolCar(car):   #child class
    def __init__(self,enginetype,wheels,color):
        super()._init_(self,enginetype,wheels,color)
        self.enginetype ="Petrol"
        self.wheels ="4"
        self.color ="Red"
        
    def Sound(self):
        print('peeeeeep')
        
        
        
class DiselCar(car):   #child class
    def __init__(self,enginetype,wheels,color):
        super()._init_(self,enginetype,wheels,color)
        self.enginetype ="Disel"
        self.wheels = "4"
        self.color = "White"
        
    def Sound(self):
        print('Pooooompp')
        
class EVCar(car):    #child class
    def __init__(self,enginetype,wheels,color):
        super()._init_(self,enginetype,wheels,color)
        self.enginetype ="Battery Operated"
        self.wheels = "4"
        self.color = "Blue"
        
    def Sound(self):
        print("No Sound...")
        
#object :BMW
BMW = car("petrol" ,"black", 4)

print(BMW.enginetype)

petrol

In [15]:
'''  
class Bank:
    #class variable :
    1. Balance_amount =  100000
    2. credited_Amount
    3. withdraw_amount 
    
# Different Account types
1. NRI Account
2. Saving Account
3. Current Account

# Objects:
1. vaibhav : NRI ACC
2. Sangam : Saving Acc
3. Gaurav : Current Acc
'''

# Base Class
class Bank:
    def __init__(self, name, acc_type, balance=100000):
        self.name = name
        self.acc_type = acc_type
        self.balance = balance

    def show_balance(self):
        print(f"{self.name} ({self.acc_type}) - Current Balance: ₹{self.balance}\n")

    def deposit(self, amount):
        self.balance += amount
        print(f"{amount} credited to {self.name}'s account.")
        self.show_balance()

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"{amount} withdrawn from {self.name}'s account.")
        else:
            print(f"Insufficient funds in {self.name}'s account!")
        self.show_balance()


# Child Class 1 - NRI Account
class NRIAccount(Bank):
    def __init__(self, name):
        super().__init__(name, "NRI Account")
    
    # Override withdraw (e.g., with extra tax)
    def withdraw(self, amount):
        tax = amount * 0.02   # 2% tax on NRI withdrawal
        total = amount + tax
        if total <= self.balance:
            self.balance -= total
            print(f"{amount} withdrawn + ₹{tax} tax (2%) applied.")
        else:
            print("Insufficient funds for withdrawal including tax.")
        self.show_balance()


# Child Class 2 - Saving Account
class SavingAccount(Bank):
    def __init__(self, name):
        super().__init__(name, "Saving Account")

    # Special interest for deposit
    def deposit(self, amount):
        bonus = amount * 0.01   # 1% bonus interest
        total = amount + bonus
        self.balance += total
        print(f"{amount} deposited with ₹{bonus} bonus interest.")
        self.show_balance()


# Child Class 3 - Current Account
class CurrentAccount(Bank):
    def __init__(self, name):
        super().__init__(name, "Current Account")

    # Overdraft allowed up to ₹20,000
    def withdraw(self, amount):
        if amount <= self.balance + 20000:
            self.balance -= amount
            print(f"{amount} withdrawn (Overdraft limit applied if needed).")
        else:
            print("Overdraft limit exceeded!")
        self.show_balance()


# Creating Objects
vaibhav = NRIAccount("Vaibhav")
sangam = SavingAccount("Sangam")
gaurav = CurrentAccount("Gaurav")

# Perform Transactions
vaibhav.withdraw(5000)
sangam.deposit(10000)
gaurav.withdraw(110000)

5000 withdrawn + ₹100.0 tax (2%) applied.
Vaibhav (NRI Account) - Current Balance: ₹94900.0

10000 deposited with ₹100.0 bonus interest.
Sangam (Saving Account) - Current Balance: ₹110100.0

110000 withdrawn (Overdraft limit applied if needed).
Gaurav (Current Account) - Current Balance: ₹-10000

In [2]:
'''
class ITV:
      constructor
      - name
      - student_id
      - course
      - duration
      - experience
      
class student(ITV)
    details()
class trainer(ITV)
    details()
    
    
define  :
   - 2 students object
    -2 trainer object


'''

# Base class
class ITV:
    def __init__(self, name, student_id, course, duration, experience):
        self.name = name
        self.student_id = student_id
        self.course = course
        self.duration = duration
        self.experience = experience

# Derived class for Students
class Students(ITV):
    def details(self):
        print(f"Student Name: {self.name}")
        print(f"Student ID: {self.student_id}")
        print(f"Course: {self.course}")
        print(f"Duration: {self.duration}")
        print(f"Experience: {self.experience}")
        print("-" * 30)

# Derived class for Trainer
class Trainer(ITV):
    def details(self):
        print(f"Trainer Name: {self.name}")
        print(f"Trainer ID: {self.student_id}")
        print(f"Course: {self.course}")
        print(f"Duration: {self.duration}")
        print(f"Experience: {self.experience}")
        print("-" * 30)

# Creating 2 student objects
student1 = Students("Pragyaa", "S101", "Data Analytics", "6 Months", "Beginner")
student2 = Students("Vaibhav", "S102", "Python Programming", "4 Months", "Intermediate")

# Creating 2 trainer objects
trainer1 = Trainer("Sangam", "T201", "Data Analytics", "6 Months", "5 Years")
trainer2 = Trainer("Gaurav", "T202", "Python Programming", "4 Months", "3 Years")

# Displaying details
print("---- Students Details ----")
student1.details()
student2.details()

print("---- Trainer Details ----")
trainer1.details()
trainer2.details()

---- Students Details ----
Student Name: Pragyaa
Student ID: S101
Course: Data Analytics
Duration: 6 Months
Experience: Beginner
------------------------------
Student Name: Vaibhav
Student ID: S102
Course: Python Programming
Duration: 4 Months
Experience: Intermediate
------------------------------
---- Trainer Details ----
Trainer Name: Sangam
Trainer ID: T201
Course: Data Analytics
Duration: 6 Months
Experience: 5 Years
------------------------------
Trainer Name: Gaurav
Trainer ID: T202
Course: Python Programming
Duration: 4 Months
Experience: 3 Years
------------------------------

In [3]:
# IN build modules in python programming

import math

a= math.ceil(5.5)
print(a)

a= math.floor(5.5)
print(a)

a= math.sqrt(25)
print(a)

a= 25**0.5
print(a)

a= math.pow(25,2)
print(a)

a= math.factorial(5)
print(a)

a= math.cos(0)
print(a)

a=math.fabs(-30)
print(a)

a= math.log10(30)
print(a)

6
5
5.0
5.0
625.0
120
1.0
30.0
1.4771212547196624

In [ ]:
# error code 

class Dog:
    tricks = []                    #mistaken use of class variable
    def __init__(self,name):
        self.name =name
        
    def add_trick(self,trick):
        
    d = Dog ('fiddo')
    e = Dog ('buddy')
    d.add_trick ('roll over')
    e.add_tricks ('play dead')
    d.tricks                           #
    ['roll over', 'play dead']

In [7]:
class Dog:
    def __init__(self,name):
        self.name = name
        self.tricks = []
        
    def add_trick(self, tricks):
        self.tricks.append(tricks)
     
d = Dog ('fiddo')
e = Dog ('buddy')
d.add_trick ('roll over')
e.add_trick ('play dead')
d.tricks

['roll over']

In [8]:
# list comprehnsion
lst =[]
for i in range(10):
    lst.append(i*i)
    
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
'''
logic: [<experience> for interator(i) in range(10)]

'''
print([i*i for i in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
# (0 2 4 6 8 10...)

lst = []
for i in range(12):
    if i%2 ==0:
        lst.append(i)
        
print(lst)

[0, 2, 4, 6, 8, 10]

In [11]:
#Example of list Comprehension
#syntax: [<expression> for i in range(12) <condition>]
[i for i in range(12) if i%2 == 0]

[0, 2, 4, 6, 8, 10]

In [12]:
fruits = ['apples','pineapple','grapes']
[i.upper()  for i in fruits]

['APPLES', 'PINEAPPLE', 'GRAPES']